
.theme-green{
      background: #00b356 !important;
      color:white !important;
      top:0;
      position:absolute;
}

#fixed { 
	height:150px; 
	position:fixed; 
	top:0; left:0; 
	z-index:10000; 
}

#footer{
	height:157px;
	margin-left:287px;
	margin-right:245px;
	line-height:30px;
	text-align:left;
	font-size:16px;
	color:white;
	font-family:Century Gothic;
	background:#00b356;
}
.header-base{
	overflow:auto;
    background-color: #00b356;
    border-radius: 5px;
}
.header-base ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	cursor: pointer;
}

li{
    float: left;
}

li:last-child {
    border-right: none;
}
body{
	min-height: 100vh;
	background-image: url('../../media/photos/BlueBG.jpg') !important;
	background-attachment: fixed;
	background-position: center;
	padding: 0;
	margin: 0;
}
.header-base a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

.header-base a:hover:not(.active) {
    background-color: white;
	color:black;
}

.active {
    background-color: white;
}

.header-base a {
	margin: 0;
    font-size: 12px;
	font-family: Century Gothic;
	transition-duration: 0.4s;
}
.four {width:85%;}
.row{
	padding: 0 !important;
	margin: 0 !important;
}

.content{
	background-color: rgba(250,250,250,0.7);
	padding: 0 !important;
	margin: 0 !important;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
	top:0;
	height: auto;
	border-radius: 5px;
}
section.header{
	margin: 0;
	padding: 0;

}

.footer{
	padding-top: 20px;
	top: 0;
	margin-top: 20px;
}
img.carousel-item{
    position: absolute !important;
    top:0;
    left:0;
    min-height:400px;
	max-height:400px;
}
div.karousel{
	min-height:400px;
	max-height:400px;
	position: relative !important;
}

.css-carousal{
	overflow:hidden;
	min-height:600px;
	max-height:600px;
	max-width: 800px;
	min-width: 800px;
	margin:auto;
}
.css-carousal .css-img{
	position: absolute;
	opacity:0;
	padding: 0;
	margin: 0;
	-webkit-animation-name: css-animation-fade;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count:infinite;
}
.css-carousal .css-img:nth-child(2){
	-webkit-animation-delay:3s;
}
.css-carousal .css-img:nth-child(3){
	-webkit-animation-delay:6s;
}
.css-carousal .css-img:nth-child(4){
	-webkit-animation-delay:9s;
}
.css-carousal .css-img:nth-child(5){
	-webkit-animation-delay:12s;
}
.css-carousal .css-img:nth-child(6){
	-webkit-animation-delay:15s;
}

@-webkit-keyframes css-animation-fade{
	from {opacity:0;}
	10% {opacity:1;}
	20% {opacity:1;}
	25% {opacity:0;}
	to {opacity:0;}
}

.form-control{
	border:0!important;
	border-bottom: 5px solid black;
	font-weight: bolder;
	background-color: rgba(255,255,255,0.7);
	color:#00b356 !important; 
	outline: 0;
}
.btn-primary{
	background-color: #00b356 !important;
}