<<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <link href="style1.css" rel="stylesheet">
<body>
<title>D' One Resort</title>
<body background="D:\Website\D'One Resort Photos\BlueBG.jpg">
<div class = "row">
	<div class = "six">
				<p style="text-align:center"><b>HOUSE RULES</b></p>
				<p style="text-align:justify">• Cooked foods, drinking water, softdrinks and juices are allowed. 
				We also have foods and drinks available at D' One Restaurant / Convenience Store.</p>
				<p style="text-align:justify">• We have grilling areas which are to be shared with other guest.</p>
				<p style="text-align:justify">•	Alcoholic drinks brought inside the resort will be subjected to a corkage fee of P100 for bottle of wine / liquor & P150 per case of beer.</p>
				<p style="text-align:justify">•	Any appliances (rice cooker, speaker, etc.) brought inside the resort will be subjected to electricity charge of P100.</p>
				<p style="text-align:justify">•	Breakables, flammables, pets, and deadly weapons are not allowed inside the resort.</p>
				<p style="text-align:justify">•	Eating, drinking and smoking in the pool area is strictly prohibited.</p>
				<p style="text-align:justify">•	Guest shall be responsible for any damages or losses of items at the resort.</p>
				<p style="text-align:justify">•	A responsible adult must accompany children / minors at all times.</p>
				<p style="text-align:justify">•	Main Gate CLOSE at 12 MN.</p>
				<p style="text-align:justify"><b>•	PAY AS YOU ENTER</b></p>
	</div>
<div class = "six">
		<table width="100%" cellspacing= "5" border="0">
			<tr>
				<td style="text-align:center"><p>Entrance Fees:</p></td>
				<td style="text-align:center"><p>Day:<br>8am-5pm</p></td>	
				<td style="text-align:center"><p>Night:<br>7pm-4am</p></td>
				<td style="text-align:center"width="30%"><p>Overnight:<br>8am-4am/7pm-5pm</p></td>
			</tr>
			<tr>
				<td style="text-align:center"><p>Adults<br>*20% discount on senior citizens</p></td>
				<td style="text-align:center"><p>Php 100.00</p></td>
				<td style="text-align:center"><p>Php 150.00</p></td>
				<td style="text-align:center"><p>Php 200.00</p></td>
			</tr>
			<tr>
				<td style="text-align:center"><p>Children<br>*2 feet below are free</p></td>
				<td style="text-align:center"><p>Php 100.00</p></td>
				<td style="text-align:center"><p>Php 150.00</p></td>
				<td style="text-align:center"><p>Php 200.00</p></td>
			</tr>
		</table>
		<table width="100%" cellspacing= "5" border="0">
			<tr>
				<td><b>&nbsp&nbsp TYPE:</b></td>
			<tr>
			<tr>
				<td style="text-align:center"><b>Cottage</b></td>
			</tr>
			<tr>
				<td></td>
				<td>Capacity:</td>
				<td>Day/Night Rate:</td>
				<td>Overnight Rate:</td>
			</tr>
			<tr></tr>
			<tr>
				<td>Cottage 1-7</td>
				<td>15 pax</td>
				<td>Php 400.00</td>
				<td>Php 600.00</td>
			</tr>
			<tr>
				<td>Cottage 8</td>
				<td>25 pax</td>
				<td>Php 500.00</td>
				<td>Php 800.00</td>
			</tr>
			<tr>
				<td>Cottage 9</td>
				<td>35 pax</td>
				<td>Php 700.00</td>
				<td>Php 1,200.00</td>
			</tr>
			<tr>
				<td style="text-align:center"><b>Nipa Hut</b></td>
			</tr>
			<tr>
				<td>Santan</td>
				<td>10 pax</td>
				<td>Php 650.00</td>
				<td>Php 1,100.00</td>
			</tr>
			<tr>
				<td>Camia</td>
				<td>10 pax</td>
				<td>Php 650.00</td>
				<td>Php 1,100.00</td>
			</tr>
			<tr>
				<td>Sampaguita</td>
				<td>30 pax</td>
				<td>Php 850.00</td>
				<td>Php 1,500.00</td>
			</tr>
			<tr>
				<td>Ilang-Ilang</td>
				<td>15 pax</td>
				<td>Php 1,000.00</td>
				<td>Php 1,800.00</td>
			</tr>
			<tr>
				<td>Gumamela</td>
				<td>15 pax</td>
				<td>Php 1,000.00</td>
				<td>Php 1,800.00</td>
			</tr>
			<tr>
				<td style="text-align:center"><b>Main Bldg Rooms</b></td>
			</tr>
			<tr>
				<td>Main Bldg, Family Main Room 1</td>
				<td>6 pax</td>
				<td>Php 1,800.00</td>
				<td>Php 3,000.00</td>
			</tr>
			<tr>
				<td>Main Bldg, Deluxe Main Room 2-3</td>
				<td>2 pax</td>
				<td>Php 1,200.00</td>
				<td>Php 2,000.00</td>
			</tr>
			<tr>
				<td>Main Bldg, Family Main Room 4-5</td>
				<td>4 pax</td>
				<td>Php 1,500.00</td>
				<td>Php 2,500.00</td>
			</tr>
			<tr>
				<td style="text-align:center"><b>Annex Bldg Rooms</b></td>
			</tr>
			<tr>
				<td>Annex Bldg, Family Annex Room 1-2</td>
				<td>6 pax</td>
				<td>Php 1,800.00</td>
				<td>Php 3,500.00</td>
			</tr>
			<tr>
				<td>Annex Bldg, Deluxe Annex Room 3-4</td>
				<td>2 pax</td>
				<td>Php 1,500.00</td>
				<td>Php 2,500.00</td>
			</tr>
			<tr>
				<td>Annex Bldg, Dorm Type Annex Room 5-6</td>
				<td>28 pax</td>
				<td>Php 4,500.00</td>
				<td>Php 7,000.00</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>