<!DOCTYPE html>
<html>
<body>
<title>D' One Resort | Rooms & Cottages</title>
<body background="D:\Website\D'One Resort Photos\BlueBG.jpg">

<style>

#fixed { 
height:150px; 
position:fixed; 
top:0; left:0; 
z-index:10000; 
}

#footer{
height:157px;
margin-left:287px;
margin-right:245px;
line-height:30px;
text-align:left;
font-size:16px;
color:white;
font-family:Century Gothic;
background:#00b356;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00b356;
	cursor: pointer;
}

li {
    float: left;
    border-right:1.5px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
	color:black;
}

.active {
    background-color: white;
}

a {
    font-size: 20px;
	font-family: Century Gothic;
	transition-duration: 0.4s;
}
p{
	font-family: Century Gothic;
}
.row {width:85%;float:right}
.four {width:85%;}

#header{
	margin-left:280px;
	margin-top:90px;
}

div.transbox {
    margin-left: 287px;
	margin-right: 245px;
	margin-bottom: 50px;
    background-color: #ffffff;
    border: 1px solid black;
}


</style>
</head>
<p style="margin-left:250px"><img src = "D:\Website\Photos\Logo.png" style="width:350px;height:200px"></p>
<div class="container">
  <div class="row">
	<div class="four">
		<ul>
			<li><a href="DOne.html">Home</a></li>
			<li><a href="About.html">About Us</a></li>
			<li><a href="Gallery.html">Gallery</a></li>
			<li><a href="R&C.html">Room & Cottages</a></li>
			<li><a href="Rates.html">Rates</a></li>
 
		<ul style="float:right;list-style-type:none;">
			<li><a href="#about"><img src= "D:\Website\Photos\Calendar.png" style="width:20px;height:20px"> 	RESERVE NOW!</a></li>
			<li><a href="#login">Login</a></li>
		</ul></div>
<center>

</center></div>
</div>
<div id = "header">
	<img src ="D:\Website\D'One Resort Photos\RoomCottage.png" style="width:400px;height:200px;margin-left:50px"></img>
	</div>
<div class = "three">
	<div class = "transbox">
		<table width="100%" cellspacing= "33.33333%" border="0" style="margin-top:30px">
		<tr>
			<td><center><img src="D:\Website\D'One Resort Photos\Cottage\1.jpg"  width="412"; height="412"></img><br>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Cottage 1-7</b></p>
			<p style="text-align:center;font-size:125%">Up to 15 Persons • Php 400 - 600</td>
			<td><center><img src="D:\Website\D'One Resort Photos\Cottage\8.jpg"  width="412"; height="412"></img>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Cottage 8</b></p>
			<p style="text-align:center;font-size:125%">Up to 25 Persons • Php 500 - 800</td>
			<td><center><img src="D:\Website\D'One Resort Photos\Cottage\9.jpg"  width="412"; height="412"></img>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Cottage 9</b></p>
			<p style="text-align:center;font-size:125%">Up to 35 Persons • Php 700 - 1,200</td>
		</tr>
		</table>
		<table width="100%" cellspacing= "33.33333%" border="0" style="margin-top:30px">
		<hr>
		<tr>
			<td><center><img src="D:\Website\D'One Resort Photos\Nipa Hut\Santan.jpg"  width="412"; height="412"></img><br>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Santan</b></p>
			<p style="text-align:center;font-size:125%">Up to 10 Persons • Php 650 - 1,100</td>
			<td><center><img src="D:\Website\D'One Resort Photos\Nipa Hut\Camia.jpg"  width="412"; height="412"></img>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Camia</b></p>
			<p style="text-align:center;font-size:125%">Up to 10 Persons • Php 650 - 1,100</td>
			<td><center><img src="D:\Website\D'One Resort Photos\Nipa Hut\Sampaguita.jpg"  width="412"; height="412"></img>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Sampaguita</b></p>
			<p style="text-align:center;font-size:125%">Up to 30 Persons • Php 850 - 1,500</td>
		</tr>
		</table>
		<table width="100%" cellspacing= "50%" border="0" style="margin-top:30px">
		<hr>
		<tr>
			<td><center><img src="D:\Website\D'One Resort Photos\Nipa Hut\Ilang-Ilang.jpg"  width="412"; height="412"></img><br>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Ilang-Ilang</b></p>
			<p style="text-align:center;font-size:125%">Up to 15 Persons • Php 1,000 - 1,800</td>
			<td><center><img src="D:\Website\D'One Resort Photos\Nipa Hut\Gumamela.jpg"  width="412"; height="412"></img>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Gumamela</b></p>
			<p style="text-align:center;font-size:125%">Up to 15 Persons • Php 1,000 - 1,800</td>
		</tr>
		</table>
		<table width="100%" cellspacing= "50%" border="0" style="margin-top:30px">
		<hr>
		<tr>
		<td><center><img src="D:\Website\D'One Resort Photos\Room\MainBldg Room 2&3.jpg"  width="412"; height="412"></img><br>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Main Bldg, Family Main Room 1</b></p>
			<p style="text-align:center;font-size:125%">Up to 6 Persons • Php 1,800 - 3,000</td>
			<td><center><img src="D:\Website\D'One Resort Photos\Room\MainBldg Room 2&3.jpg"  width="412"; height="412"></img>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Main Bldg, Deluxe Main Room 2-3</b></p>
			<p style="text-align:center;font-size:125%">Up to 2 Persons • Php 1,200 - 2,000</td>
			<td><center><img src="D:\Website\D'One Resort Photos\Room\MainBldg Room 4-5.jpg"  width="412"; height="412"></img>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:190%"><b>Main Bldg, Family Main Room 4-5</b></p>
			<p style="text-align:center;font-size:125%">Up to 4 Persons • Php 1,500 - 2,500</td>
		</tr>
		</table>
		<table width="100%" cellspacing= "50%" border="0" style="margin-top:30px">
		<hr>
		<tr>
		<td><center><img src="D:\Website\D'One Resort Photos\Room\Annex Room 2.jpg"  width="412"; height="412"></img><br>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:170%"><b>Annex Bldg, Family Annex Room 1-2</b></p>
			<p style="text-align:center;font-size:125%">Up to 6 Persons • Php 1,800 - 3,500</td>
			<td><center><img src="D:\Website\D'One Resort Photos\Room\Annex Room 4.jpg"  width="412"; height="412"></img>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:170%"><b>Annex Bldg, Deluxe Annex Room 3-4</b></p>
			<p style="text-align:center;font-size:125%">Up to 2 Persons • Php 1,500 - 2,500</td>
			<td><center><img src="D:\Website\D'One Resort Photos\Room\Annex Room 5.jpg"  width="412"; height="412"></img>
			<p style="text-align:center;font-family:Monotype Corsiva;color:#3366FF;font-size:170%"><b>Annex Bldg, Dorm Type Annex Room 5-6</b></p>
			<p style="text-align:center;font-size:125%">Up to 28 Persons • Php 4,500-7,000</td>
		</tr>
		</table>
	</div>
</div>
<div id = "footer">
	<table width= 100% border=0;>
	<td width=80%>
	<p>	Copyright 2015 D' ONE RESORT. All Right Reserved.<br>
	Maharlika Road, San Salvador, Baras, Rizal<br>
	<img src ="D:\Website\Photos\Phone.png" style="width:15px; height:15px"></img>&nbsp 0922 807 1360 | 0917 517 6510 | 0917 516 1226<br>
	<img src ="D:\Website\Photos\Mail.png" style="width:15px; height:15px"></img>&nbsp donatajengsantos@gmail.com<br></p>
	</td>
	<td width=40%>
	<p align="center">
	<center><a href="https://www.facebook.com/DOne-Resort-Restaurant-169424814370/?ref=ts&fref=ts">
	<img id="img1" src ="D:\Website\Photos\Facebook1.png" style="width:80px; height:70px"></a></img></center>
	<center>Like us on Facebook!</center></p>
	</td>
	</table>
<div id="fixed">
</div> 
</div>
</div>
</body>
</html>